@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

ol,
ul {
    padding-left: 0;
}


/*BODY*/

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}


body {
    font-size: 16px;
    color: #333;
    background-color: #fff;

}

/*HEADER*/
.navbar-nav .show>.nav-link {
    color: red;
}

.nav-link:hover {
    color: red;
    transition: 0.6s ease;
    transform: scale(1.2);
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: rgba(132, 0, 255, 0.432);
}

.dropdown-item:hover {
    color: red;
    transition: 0.5s ease;
}

.navbar-brand{
    cursor: pointer;
    display: flex;
}

.navbar-brand img{
    height: 70px;
    width: auto;
    transition: all 0.6s;
}

.navbar-brand img:hover{
    transform: scale(1.2);
}

/*MAIN*/

main {
    font-size: 1.6rem;
    color: #333;
    background-color: #fff;
    padding-top: 8%;
    margin-right: 40px;
    margin-left: 10px;
    padding-left: 10%;
    padding-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;

}

.card {
    background-color: #fff;
    box-shadow: 2px .8rem 1rem rgba(0, 0, 0, .025);
    border-radius: 10px;
}

.card__publication {
    position: relative;
    height: 20rem;
    overflow: hidden;
    border-radius: 10px;
    border: none;
}

.card__publication img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s;
    border-radius: 10px;
}

.card:hover .card__publication img {
    transform: scale(1.5);
}

.card__publication>div {
    background: linear-gradient(to right bottom,
            rgba(48, 76, 255, 0.8), rgba(255, 0, 13, 0.8));
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    inset: 0;
    padding: 1rem;
}

.card__publication i {
    margin-right: 1rem;
}

.card__publication span {
    display: block;
}

.card__author {
    margin-bottom: .5rem;
}

.card__info {
    position: relative;
    padding: 2rem 3rem;
}

.card__title {
    font-size: 3rem;
}

.card__subtitle {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-bottom: 1rem;
}

.card__cta {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: red;
    margin-top: 2rem;
}

.card__cta span {
    display: inherit;
    transition: transform .5s;
}

.card__cta:hover span {
    transform: translateX(.5rem);
}

/*FOOTER*/

i {
    font-size: 2.4rem;
}
.footer {
    position: relative;
    padding-block: 5rem;
    background-color: #eee;
    color: #666873;
}
.footer__container {
    max-width: 116rem;
    margin: auto;
    padding: 0 1.5rem;
}

.footer__top {
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2rem;
}
.footer__title {
    font-size: 1.8rem;
    color: #1d428a;
    font-weight: 500;
    margin-bottom: 2rem;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer__list-item {
    list-style: none;
}

.footer__list-item a {
    list-style: none;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color .4s ease;
}

.footer__list-item a:hover{
    color: red;
}

.footer__list-item i{
    font-size: 1.8rem;
}

.footer__list-link {
    text-decoration: none;
    color: inherit;
    transition: color .25s;
}
.footer__list-link:hover {
    color: red;
}

.company__info {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 5rem;
}
.company__logo {
    color: #1d428a;
}
.company__info ul {
    flex-direction: row;
}
.copyright {
    margin-top: auto;
}

@media screen and (min-width: 40em) {
    .company__info {
        grid-column: span 2;
    }
}

@media screen and (min-width: 37.5em) {
    .main{
        padding-top: 80%;
    }

    .card {
        display: grid;
        grid-auto-flow: column;
        max-width: 75rem;
    }

    .card__publication {
        width: 25rem;
        height: initial;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
    }
    
}

