@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

ol,
ul {
    padding-left: 0;
}


/*BODY*/

body{
    background-attachment: fixed;
    background-repeat: repeat;
    height:100%;
    position: relative;
    background-color: white;
    background-position: center;
}

html {
    height: 100%;
}

/*HEADER*/

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: red;
}

.nav-link:hover {
    color: red;
    transition: 0.6s ease;
    transform: scale(1.2);
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: rgba(132, 0, 255, 0.432);
}

.dropdown-item:hover {
    color: red;
    transition: 0.5s ease;
}

.navbar-brand{
    cursor: pointer;
    display: flex;
}

.navbar-brand img{
    height: 70px;
    width: auto;
    transition: all 0.6s;
}

.navbar-brand img:hover{
    transform: scale(1.2);
}

/*MAIN*/

html {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
  }
main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1d24;
    padding: 0 1.5rem;
    font-size: 1.6rem;
  }

a {
    text-decoration: none;
  }
  /* General styles end*/
  .blog-post {
    display: flex;
    align-items: center;
    max-width: 90rem;
    background-color: #fff;
    padding: 2.5rem;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
  }
  .blog-post__img {
    position: relative;
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
  }
  .blog-post__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
  }
  .blog-post__img::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right bottom,
            rgba(48, 76, 255, 0.8), rgba(255, 0, 13, 0.8));
    box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
    border-radius: 0.8rem;
    opacity: 0.5;
  }
  .blog-post__date span {
    display: block;
    color: #8e8c8c;
    font-weight: 600;
    margin: 0.5rem 0;
  }
  .blog-post__title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe;
  }
  .blog-post__info p {
    margin-bottom: 3rem;
    color: rgba(0, 0, 0, 0.7);
  }
  .blog-post__cta {
    display: inline-block;
    background-image: linear-gradient(to right bottom,
    rgba(48, 76, 255, 0.8), rgba(255, 0, 13, 0.8));
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0.8rem;
  }
  .blog-post__cta:hover {
    background-image: linear-gradient(to right bottom,
     rgba(255, 0, 13, 0.8), rgba(48, 76, 255, 0.8));
  }

/*FOOTER*/

footer{
    position: relative;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: black;
    width: 100vw;
    align-self: flex-end;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.8rem;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 3rem;
    display: flex;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: black;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #c8102e;
}

.footer-bottom{
    background: gray;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    align-self: flex-end;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    margin-left: 2px;
    color: red;
}

.footer__bottom h4 {
    color: #fafafa;
    font-size: 0.8rem;
}

.author {
    opacity: .4;
    color: red;
    text-decoration: none;
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
    }
    }

    @media (max-width: 1068px) {
        .blog-post {
          max-width: 80rem;
        }
        .blog-post__img {
          min-width: 30rem;
          max-width: 30rem;
        }
      }
      @media (max-width: 868px) {
        .blog-post {
          max-width: 70rem;
        }
      }
      @media (max-width: 768px) {
        .blog-post {
          padding: 2.5rem;
          flex-direction: column;
        }
        .blog-post__img {
          min-width: 100%;
          transform: translate(0, -8rem);
        }
      }