@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    top: 0px;
	margin: 0px;
	left: 0px;
	margin-right: 0px;
}

/*BODY*/

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

body{
    background-color: #1d428a;
}

html {
    height: 100%;
}

ol,
ul {
    padding-left: 0;
}


/*HEADER*/

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: red;
}

.nav-link:hover {
    color: red;
    transition: 0.6s ease;
    transform: scale(1.2);
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: rgba(132, 0, 255, 0.432);
}

.dropdown-item:hover {
    color: red;
    transition: 0.5s ease;
}

.navbar-brand{
    cursor: pointer;
    display: flex;
}

.navbar-brand img{
    height: 70px;
    width: auto;
    transition: all 0.6s;
}

.navbar-brand img:hover{
    transform: scale(1.2);
}


/*MAIN*/

section {
    display: flex;
    width:auto;
    height: 430px;
    position: relative;
    justify-content: flex-end;
    height: auto;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/*FOOTER*/

i {
    font-size: 2.4rem;
}
.footer {
    position: relative;
    padding-block: 5rem;
    background-color: #eee;
    color: #666873;
}
.footer__container {
    max-width: 116rem;
    margin: auto;
    padding: 0 1.5rem;
}

.footer__top {
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2rem;
}
.footer__title {
    font-size: 1.8rem;
    color: #1d428a;
    font-weight: 500;
    margin-bottom: 2rem;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer__list-item {
    list-style: none;
}

.footer__list-item a {
    list-style: none;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color .4s ease;
}

.footer__list-item a:hover{
    color: red;
}

.footer__list-item i{
    font-size: 1.8rem;
}

.footer__list-link {
    text-decoration: none;
    color: inherit;
    transition: color .25s;
}
.footer__list-link:hover {
    color: red;
}

.company__info {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 5rem;
}
.company__logo {
    color: #1d428a;
}
.company__info ul {
    flex-direction: row;
}
.copyright {
    margin-top: auto;
}
@media screen and (min-width: 100em) {
    .company__info {
        grid-column: span 2;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
    }
    }
